
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: hidden;
  overflow: hidden;
}

.header {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.logo {
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
}

.ascii-art {
  white-space: pre; /* Preserve formatting */
}

.system-info {
  text-align: left;
  white-space: pre-wrap;
  font-size: 16px;
}

.tasks {
  margin-top: 10px;
}
