@font-face {
    font-family: MagicalNight;
    src: url(../../Fonts/Magical\ Night.ttf);
}
@font-face {
    font-family: Millenium;
    src: url(../../Fonts/Millennium.ttf);
}

.About-content{
    margin-left: 160px;
    width: calc(73% - 24px);
    font-style: bold;
    overflow: hidden;
    background-color: white;
    width: 75vw;
    height: 85vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y:auto;
}

.Welcome{
    font-family: MidnightBlack;
    font-size: 48px;
    color:black;
    margin-left: 10px;
    height: 70px;
    word-wrap: break-word;

}

.introduction{
    padding-left: 5px;
    font-family: 'Millennium';
    color: #414a4c;
    font-style: normal;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}

.about-me-title{
    font-family: MidnightBlack;
    color: black;
    font-style: bold;
    margin: 0 12px;
    font-size: 25px;
    word-wrap: break-word;
}

.introduction a {
    color: blue;
}

.about-me-paragraph {
    padding-left: 5px;
    font-family: 'Millennium';
    color: black;
    font-style: normal;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}

.interest-title{
    font-family: MidnightBlack;
    color: black;
    font-style: bold;
    margin: 0 0px;
    font-size: 25px;
    word-wrap: break-word;
}


.interest-paragraph {
    font-family: 'Millennium';
    color: black;
    font-style: normal;
    font-size: 16px;
    word-wrap: break-word;
}

.interest-paragraph-2 {
    font-family: 'Millennium';
    color: black;
    font-style: normal;
    font-size: 16px;
    word-wrap: break-word;
}

.Work-image img{
    width: 20vw; /* 30% of the viewport width */
    height: auto; /* maintains the aspect ratio */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Work-image p{
    margin-left: 250px;
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    word-wrap: break-word;
}

.about-me-paragraph-4 p2 {
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    word-wrap: break-word;
    float: right;
    padding-left: 47%;
}

.ME-image img {
    float: right;
    margin-right: 20px;
    width: 180px;
    margin-top:20px;
    height: auto;
}

.about-me-paragraph-4 {
    padding-left: 4px;
    font-family: 'Millennium';
    color: black;
    font-style: normal;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}

.compositeCaption {
    margin-left: 56vw;
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    margin-top: 0px;
    word-wrap: break-word;
}
