@font-face {
    font-family: MagicalNight;
    src: url(../../Fonts/Magical\ Night.ttf);
}
@font-face {
    font-family: Millenium;
    src: url(../../Fonts/Millennium.ttf);
}

.Blender-content {
    margin-left: 160px;
    font-style: bold;
    overflow: hidden; /* Ensures content is scrollable if it overflows */
    background-color: white;
    max-width: 75vw;
    max-height: 79.3vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.Blender {
    font-family: MidnightBlack;
    font-size: 48px;
    margin-left: 12px;
    color: black;
    height: 70px;
}

.blenderHeader h1 {
    margin-top: 0px;
    font-family: Millennium;
    font-size: xx-large;
    margin-left: 10px;
    margin-bottom: 35px;
    height: 10px;
    color: black;
}

.Text {
    padding-left: 5px;
    font-family: 'Millennium';
    color: black;
    font-style: normal;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}

.video1 {
    flex: 1;
    width: 10%;
    height:auto;
    margin-right: 20px;
}

.video1-caption {
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}

/* Flexbox container for video and images */
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.video1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video1 video {
    width: 100%;
    height: auto;
}

.video1-caption {
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    margin: 10px 0;
    word-wrap: break-word;
    text-align: center;
}

.Earth-image {
    flex: 1;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.Earth-image img {
    width: 100%;
    max-width: 35vw; /* Adjust this value as needed */
    height: auto;
}

.earth-caption {
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    margin-left:150px;
    margin-top:0px;
    word-wrap: break-word;
}

.page-layout {
    display: flex;
}

.Blender-content {
    flex: 1;
    padding: 20px;
}



.Text {
    margin-top: 20px;
}

hr.solid {
    border-top: 1px solid #bbb;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.media-item {
    flex: 1 1 calc(50% - 20px); /* Adjusts the width of the media items */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.media-item video,
.media-item img {
    max-width: 100%;
    height: auto;
}

.caption {
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    margin-left:10px;
    margin-top:0px;
    word-wrap: break-word;
}