@font-face {
    font-family: MagicalNight;
    src: url(../../Fonts/Magical\ Night.ttf);
}
@font-face {
    font-family: Millenium;
    src: url(../../Fonts/Millennium.ttf);
}

.Blender-content{
    margin-left: 160px;
    width: calc(73% - 24px);
    font-style: bold;
    overflow: hidden; /* Ensures content is scrollable if it overflows */
    background-color: white;
    width: 40vw;
    height: 60vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.Blender{
    font-family: MagicalNight;
    font-size: 48px;
    margin-left: 12px;
    height: 70px;
}

.Text{
    padding-left: 5px;
    font-family: 'Millennium';
    color: #414a4c;
    font-style: normal;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}

.video1{
    margin-left: 85px;
}

.video1-caption{
    padding-left: 85px;
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}

.Earth-images{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 20vw; /* 30% of the viewport width */
    height: 10vw;
    padding-bottom: 10px;
}

.earth-caption{
    padding-left: 40px;
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    margin: 0 12px;
    word-wrap: break-word;
}