@font-face {
    font-family: MagicalNight;
    src: url(../../Fonts/Magical\ Night.ttf);
}
@font-face {
    font-family: Millenium;
    src: url(../../Fonts/Millennium.ttf);
}

.resume{
    margin-top:5px;
    padding-bottom: 25px;
}


.ContactHeader{
    height: 25px;
    margin-left: 5px;
    color: black;

}
.contact-content{
    font-family: Magicalnight;
    margin-left: 161px;
    width: calc(73% - 24px);
    overflow: hidden;
    background-color: white;
    width: 70vw;
    height: 85vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.introduction{
    margin-left: 0px;
}

.success-message{
    font-family: millennium;
    margin-top: 5px;
    font-size: large;
    padding-left: 10px;
    color: Green;
    background-color: #c0c0c0;
    width: 17%;
}

.PersonalEmail{
    font-size: medium;
    padding-top: 10px;
    margin-left: 5px;
    color: black;
    font-family: Millennium;
    font-style: bold;
}

.EmailLink{
    text-decoration: underline;
    color: blue;
}



.contact-form label {
    margin-left: 5px;
    font-family: Millennium;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    /* add more styles */
}

.contact-form input,
.contact-form textarea {
    font-family: Millennium;
    width: 75%;
    height:75%;
    font-size: large;
    margin-bottom: 15px;
    margin-left: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    /* add more styles */
}

.required-asterisk{
    font-family: MagicalNight;
    font-size: large;
    font-style: bold;
    color: red;
}
.send-message-button {
    z-index: 15;
    margin-right: 480px;
    font-size: 12px;
}
 
  