@font-face {
    font-family: MagicalNight;
    src: url(../../Fonts/Magical\ Night.ttf);
}
@font-face {
    font-family: Millenium;
    src: url(../../Fonts/Millennium.ttf);
}

.resume{
    margin-top:5px;
    padding-bottom: 25px;
}

.headingContainer {
    display:flex;
    align-items: center;
    margin-left: 5px;
}


.ContactHeader{
    height: 25px;
    margin-left: 5px;
    color: black;
    margin-top: 0pc;;

}
.contact-content{
    font-family: MidnightBlack;
    margin-left: 161px;
    width: calc(73% - 24px);
    overflow: hidden;
    background-color: white;
    color:black;
    width: 75vw;
    height: 85vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.introduction{
    margin-left: 0px;
}

.success-message{
    font-family: millennium;
    margin-top: 5px;
    font-size: large;
    padding-left: 10px;
    color: Green;
    background-color: #c0c0c0;
    width: 17%;
}


.socials {
    display:flex;
    margin-left: 40vw;
}

.socials img{
    width: 35px;
    height:auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-style: outset;
    border-color: #c0c0c0;
}


.PersonalEmail{
    font-size: medium;
    padding-top: 10px;
    margin-left: 5px;
    color: black;
    font-family: Millennium;
    font-style: bold;
}

.EmailLink{
    text-decoration: underline;
    color: blue;
}



.contact-form label {
    margin-left: 5px;
    font-family: Millennium;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    /* add more styles */
}

.contact-form input,
.contact-form textarea {
    font-family: Millennium;
    width: 62.5%;
    height:75%;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-bottom: 5px;
}

.required-asterisk{
    font-family: MagicalNight;
    font-size: large;
    font-style: bold;
    color: red;
}
.send-message-button {
    z-index: 15;
    width:10%;
    font-size: 12px;
    margin-right: 300px;
}
 
  