@font-face {
    font-family: MagicalNight;
    src: url(../../Fonts/Magical\ Night.ttf);
}
@font-face {
    font-family: Millenium;
    src: url(../../Fonts/Millennium.ttf);
}


.Page-Content{
    margin-left: 161px;
    width: calc(73% - 24px);
    font-style: bold;
    overflow: hidden;
    background-color: white;
    width: 70vw;
    height: 85vh;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.softwareHeader{
    font-family: MidnightBlack;
    color: black;
    margin-left: 5px;
    height: 100px;
}

.Alchemy h1{
    font-family: Millennium;
    font-size: xx-large;
    margin-left:10px;
    height: 10px;
    color: black;

}
.Alchemy h2{
    font-family: Millennium;
    font-size: 20px;
    margin-left: 10px;
    color: black;
    font-weight: 100;
    height:30px;
}
.Alchemy p{
    font-family: Millennium;
    font-size: 16px;
    word-wrap: break-word;
    margin-left: 10px;
    color: black;
    font-weight: 100;
}

.Alchemy h3{
    font-family: Millennium;
    font-size: 23px;
    margin-left:10px;
    height: 10px;
    color: black;
}

.bulletedList{
    font-family: Millennium;
    font-size: 16px;
    margin-left: 45px;
    color: black;
    font-weight: 100;
}

.alchemyHome img{
    width: 25vw; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.alchemyHome p{
    padding-left: 75px;
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
    word-wrap: break-word;
}

.Media {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
    width: 30vw;
    height: auto;
}

.captions p{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    gap: 320px;
    font-family: MidnightBlack;
    color: black;
    font-style: oblique;
    font-size: 16px;
}

.T-Recs h1{
    font-family: Millennium;
    font-size: xx-large;
    font-style: normal;
    height: 10px;
    margin-left: 10px;

    color: black;
}
.T-Recs h2{
    font-family: Millennium;
    font-size: 20px;
    margin-left: 10px;
    color: black;
    font-weight: 100;
    height:30px;
}

.T-Recs p{
    font-family: Millennium;
    font-size: 16px;
    word-wrap: break-word;
    margin-left: 10px;
    color: black;
    font-weight: 100;
}