@font-face {
    font-family: MagicalNight;
    src: url(../../Fonts/Magical\ Night.ttf);
}
@font-face {
    font-family: Millenium;
    src: url(../../Fonts/Millennium.ttf);
}

@font-face {
    font-family: Pixel;
    src: url(../../Fonts/Windows\ Regular.ttf);
}


.ResumeDownload{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 5px;
    font-size: 12px;
    border: 1px solid black;
    border-left-width: 0;
    border-right-width: 0;
}


.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desc{
    font-family: MidnightBlack;
    font-size:18px;
    color: black;
    margin-bottom: 5px;
    margin-top:5px;
}

.dtext{
    font-family: Millennium;
    font-size: 16px;
    flex-direction: column;
    margin-bottom: 5px;
}

.gif{
    width: 70px;
    height: auto;
}