@font-face {
    font-family: 'WindowsRegular';
    src: url("../../Fonts/Windows\ Regular.ttf") format(truetype);
}
@font-face {
    font-family: 'Millennium';
    src: url("../../Fonts/Millennium.ttf") format(truetype);
}

.desktop {
    background-color: #008080;/*classic teal color*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    flex-wrap: wrap;

}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

 .icon {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: 'Millennium', sans-serif;
    margin: 5px;
    position: relative;
}
 .icon-label {
    color: white;
    font-family: 'Pixelated MS Sans Serif', Arial, sans-serif;
    margin-top: 4px;
    user-select: none;
}
 .icon img {
    pointer-events: none;
    min-width: 50px;
    min-height:50px;
    background-size: cover;
}

.window {
    position: absolute;
}

.game-modal {
    position: fixed;
    top: 10%; /* Position it slightly from the top */
    left: 10%; /* Position it slightly from the left */
    width: 100%; /* Smaller width */
    height: 100%; /* Smaller height */
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc; /* Optional: adds a border for better window appearance */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Optional: adds shadow for depth */
}

.game-modal iframe {
    border: none;
}

.game-modal button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.dragging .window-body, .dragging .title-bar, .dragging .iframe {
    opacity: 0.5; /* More visible than fully transparent */
}

.window.dragging {
    outline: 2px dashed #000;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border: none;
}

.window {
    position: absolute;
    overflow: hidden;
    min-width: 30vw;
    min-height: 30vh;
    max-width: 65vw;
    max-height: 65vh;
}

.window-body{
    overflow-y: hidden;
    width: 100%;
    height: auto;
    overflow-x: auto;
}

